# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.deps
Makefile.in
INSTALL
build-aux
stamp-h1
aclocal.m4
/config.h
config.in
config.log
config.status
configure
autom4te.cache
scoreboard
scoreboard.exe
Makefile
